.post {
    margin-bottom: 2rem;
    text-align: center;
    background-color: #0A2472;
    max-width: 50rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.post:hover {
    cursor: pointer;
    background-color: #183384;
    transition: 500ms ease-in-out;
}

.postTitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 0;
    border-radius: 0.2rem;
    color: #fff;
    text-transform: uppercase;
}